﻿@{
    ViewData["Title"] = "Home Page";
    var tplView = Context.Request.Query["tpl"];
}

<div class="row">
    <h1>MVC Shells</h1>
</div>

<div>
  <li><a asp-controller="Home" asp-action="NixShell">NixShell</a></li>
  <li><a asp-controller="Home" asp-action="WinShell">WinShell</a></li>
</div>

<div class="row">
    <div>
        @if(!String.IsNullOrEmpty(tplView)){
                @Html.Partial(@tplView);
		}
    </div>
</div>
